allure-pytest==2.8.7
allure-python-commons==2.8.7
crypto==1.4.1
jsonpath-rw==1.4.0
PyMySQL==0.9.3
pytest==4.5.0
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest-rerunfailures==7.0
PyYAML==5.4
requests==2.22.0
